:root {
    --color-primary         : #0d2f81;
    --color-secondary       : #2b7a78;
    --color-tertiary        : #ffd166;
    --color-quaternary      : #fff;
    --color-quinary         : #f2f2f2;
    --color-senary          : #000;
    --color-septenary       : #f2f2f2;
    --color-octonary        : #fff;
    --color-nonary          : #000;
    --color-decenary        : #fff;
    --color-undecenary      : #000;
    --color-duodecenary     : #fff;
    --color-tredecenary     : #000;
    --color-quattuordecenary: #fff;
    --color-quindecenary    : #000;
    --color-sexdecenary     : #fff;
    --color-septendecenary  : #000;
    --color-octodecenary    : #fff;
    --color-novemdecenary   : #000;
    --color-centenary       : #fff;
    --color-ducentenary     : #000;
    --color-trecentenary    : #fff;
    --color-quadringentenary: #000;
    --color-quingentenary   : #fff;
    --color-sescentenary    : #000;
    --color-septingentenary : #fff;
    --color-octingentenary  : #000;
    --color-nongentenary    : #fff;
    --color-millenium       : #000;
    --color-millenium-2     : #fff;
    --color-millenium-3     : #000;
    --color-millenium-4     : #fff;
    --color-millenium-5     : #000;
    --color-millenium-6     : #fff;
    --color-millenium-7     : #000;
    --color-millenium-8     : #fff;
    --color-millenium-9     : #000;
    --color-millenium-10    : #fff;
    --color-millenium-11    : #000;
}